<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=3600" />
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="MobileOptimized" content="240" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <link rel="stylesheet" href="dist/css/common.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/song-page.min.css">
	<title>song</title>
</head>
<body ng-controller="songCtrl">
	<audio id="myAudio" preload="auto" autobuffer="true" autoplay="true">
        <source src="">
    </audio>
    <div class="cdPlayer">
        <div class="info">
            <h2 class="title">{{songsList[songsListIndex].title}}</h2>
            <p class="desc">{{songsList[songsListIndex].desc}}</p>
        </div>
        <div class="CD">
            <div class="cd-disk"></div>
            <!-- <div id="cdCover" class="cd-cover"></div> -->
            <div class="cd-cover-box">
                <img src="src/images/{{songsListIndex + 1}}.jpg" alt="" class="cd-cover" id="cdCover">
            </div>
            <div id="cdControllerArm" class="cd-controller-arm"></div>
        </div>     
        <div class="ctrl-btn">
            <div class="button" title="上一曲" ng-click="handlePreBtn()"><i class="icon-step-backward"></i></div>
            <div id="playBtn" class="button" title="播放" ng-click="handlePlayBtn()"><i class="icon-pause"></i></div>
            <div class="button" title="下一曲" ng-click="handleNextBtn()"><i class="icon-step-forward"></i></div>
            <div class="progress-bar-box">
                <span id="progressBar" class="progress-bar">
                    <i class="progress-bar-node" id="progressBarNode" mousemove="drag"></i>
                </span>
            </div>
            <div id="muteBtn" class="button" title="静音" ng-click="handleMuteBtn()"><i class="icon-volume-up"></i></div>
        </div>
    </div>
    <div class="comment">
        <h2 class="comment_title">
            <i class="icon-tags"></i>
            留个言给主人吧~
        </h2>
        <ul class="comment_list">
            <li ng-repeat="item in commentLists">
                <div class="user_box">
                    <i class="icon-user"></i>
                    <span class="user">{{item.user}}</span>
                    <span class="date">{{item.time}}</span>
                </div>
                <p class="content_box">
                    <i class="icon-comments"></i>
                    <span>
                        {{item.text}}
                    </span>
                </p>
            </li>
        </ul>
        <pagination list="commentLists" pagefn="getOrderList" pageargs="pageSearchList" class="page-bar ng-isolate-scope"></pagination>
        <div class="comment_input_box">
            <textarea class="comment_input" cols="30" rows="10" placeholder="她很懒~什么都没有留下~" ng-model="commentContent"></textarea>
            <button type="button" class="submit" ng-click="submitComment()">发表</button>
        </div>
    </div>
    <script src="dist/js/lib/jquery-1.9.1.min.js"></script>
    <script src="dist/js/lib/angular.min.js"></script>
    <script src="dist/js/common.min.js"></script>
    <script src="dist/js/request.min.js"></script>
    <script src="dist/js/pagination.min.js"></script>
    <script src="src/js/song-page.js"></script>
</body>
</html>